.vs
out.*.*/
*.user
*.log
game/*.exe
game/*.ilk
game/MBUltra
*.dso
prefs.cs
banlist.cs
config.cs
tools/*.exe
tools/*.ilk
shaderP*.hlsl
shaderV*.hlsl
*.ml
*.torsion.opt
*.aps
*.pdb
*.ilk
build/
.idea
*.manifest
game/marble/data/missions/custom/
game/marble/data/shapes/blends/
game/screenshot*.png
